@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
   /* font-family: 'Courier New', Courier, monospace;*/
    
}body{
	margin: 0;
    padding: 0;
    height: 100vh;
    background-color: rgb(109, 183, 252);
     background-image: url('../img/back.png');
    
     

    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
/*Hero*/
section#hero{
    height:  calc(120px);
    display:  flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: black;
}
#hero h1{
    font-size: 3rem;
    padding: 200px;
    margin-bottom: 1rem;
    font-family: 'Courier New', Courier, monospace;

}
#hero p{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}.had{
    padding: 20px;
    margin: 200px; background-color: rgba(214, 213, 193, 0.568);
    border-radius: 50px;
    border: 2cm; border-color: brown;


}.img{
    z-index: 0;
    align-self: center;
    width : 100% ;
    height:100% ;
}











* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	min-height: 100vh;
	display: grid;
	
	margin: 0;
	padding: 0;
	
	font-family: 'Sriracha', cursive;
}

h1 {
	font-size: 5.25vmin;
	text-align: center;
	color: 1E152A;
}
p {
	font-size: max(10pt, 2.5vmin);
	line-height: 1.4;
	color: #000000;
	margin-bottom: 1.5rem;
	font-weight: bold;
}

.wrap {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	width: 85vmin;
	height: 25em;
	border: 8px solid;
	 border-image: linear-gradient(-50deg, #2c1212, #2c1212,  #2c1212) 1; 
	margin: 2rem auto;
	transition: .3s ease-in-out;
	position: relative;
	overflow: hidden;
	
}
.overlay {
	position: relative;
	display: flex;
	width: 100%;
	height: 100%;
	padding: 1rem .75rem;
	background: #E8E9ED;
	transition: .4s ease-in-out;
	z-index: 1;
	
}
.overlay-content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 15vmin;
	height: 100%;
	padding: .5rem 0 0 .5rem;
	border: 3px solid;
	border-image: 
    	linear-gradient(
      	to bottom, 
      	#0f2972 5%,
      	#0f2972 35% 65%,
      	#14275e 95%
    	) 0 0 0 100%;
	transition: .3s ease-in-out .2s;
	z-index: 1;
}           





/*img*/





.image-content1 {
	position: absolute;
	top: 0;
	right: 0;
	width: 60vmin;
	height: 100%;
	background-image: url("../img//S__9207859.png");
	background-size: cover;
	transition: .3s ease-in-out;
	/* border: 1px solid green; */
}.image-content2 {
	position: absolute;
	top: 0;
	right: 0;
	width: 60vmin;
	height: 100%;
	background-image: url("../img/10909.jpg");
	background-size: cover;
	transition: .3s ease-in-out;
	/* border: 1px solid green; */
}.image-content3 {
	position: absolute;
	top: 0;
	right: 0;
	width: 60vmin;
	height: 100%;
	background-image: url("https://assets.codepen.io/4787486/trees.png");
	background-size: cover;
	transition: .3s ease-in-out;
	/* border: 1px solid green; */
}.image-content4 {
	position: absolute;
	top: 0;
	right: 0;
	width: 60vmin;
	height: 100%;
	background-image: url("../img/n.jpg");
	background-size: cover;
	transition: .3s ease-in-out;
	/* border: 1px solid green; */
}.image-content5 {
	position: absolute;
	top: 0;
	right: 0;
	width: 60vmin;
	height: 100%;
	background-image: url("../img/332105006_594347399219019_4289549469318072619_n.jpg");
	background-size: cover;
	transition: .3s ease-in-out;
	/* border: 1px solid green; */





    
/*img*/






}

.dots {
	position: absolute;
	bottom: 1rem;
	right: 2rem;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 55px;
	height: 4vmin;
	transition: .3s ease-in-out .3s;
}
.dot {
	width: 14px;
	height: 14px;
	background: yellow;
	border: 1px solid indigo;
	border-radius: 50%;
	transition: .3s ease-in-out .3s;
}

.text {
	position: absolute;
	top: 0;
	right: 0;
	width: 60vmin;
	height: 100%;
	padding: 17vmin 7vmin;
	background: #fff;
	box-shadow: inset 1px 1px 15px 0 rgba(0 0 0 / .4);
	overflow-y:hidden;
}

.wrap:hover .overlay
 {
	transform: translateX(-60vmin);
}
.wrap:hover .image-content {
	width: 30vmin;
}
.wrap:hover .overlay-content {
	border: none;
	transition-delay: .2s;
	transform: translateX(60vmin);
}
.wrap:hover .dots {
	transform: translateX(1rem);
}
.wrap:hover .dots .dot {
	background: white;
}


/* Animations and timing delays */
.animate {
  animation-duration: 0.7s;
  animation-timing-function: cubic-bezier(.26, .53, .74, 1.48);
  animation-fill-mode: backwards;
}
/* Pop In */
.pop { animation-name: pop; }
@keyframes pop {
  0% {
    opacity: 0;
    transform: scale(0.5, 0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}

/* Slide In */
.slide { animation-name: slide; }
@keyframes slide {
  0% {
    opacity: 0;
    transform: translate(4em, 0);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

/* Slide Left */
.slide-left { animation-name: slide-left; }
@keyframes slide-left {
  0% {
    opacity: 0;
    transform: translate(-40px, 0);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.slide-up {animation-name: slide-up;}
@keyframes slide-up {
	0% {
		opacity: 0;
		transform: translateY(3em);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.delay-1 {
  animation-delay: 0.3s;
}
.delay-2 {
  animation-delay: 0.6s;
}
.delay-3 {
  animation-delay: 0.9s;
}
.delay-4 {
  animation-delay: 1.2s;
}
.delay-5 {
  animation-delay: 1.5s;
}
.delay-6 {
  animation-delay: 1.8s;
}
.delay-7 {
  animation-delay: 2.1s;
}
.delay-8 {
  animation-delay: 2.4s;
}

